# 1. Ignore everything (files and folders)
*

# 2. Re-include all directories recursively
!*/

# 3. Re-ignore annoying directories
.idea/
.vscode/
node_modules/
dist/
build/bin/

# 4. Re-include specific files
!*.go
!README.md
!LICENSE
!*.wat
!*.wasm
!.gitignore
!go.mod
!go.sum
!ci.yml

# Frontend
!*.ts
!*.js
!*.svelte
!*.css
!*.html
!*.json
!svelte.config.js
!tsconfig.json
!tsconfig.node.json
!vite.config.ts

# Wails
!wails.json
!*.png
!*.ico
!*.icns
!*.plist
!*.nsi
!*.nsh
!*.manifest

# Wails generated (exclude)
frontend/wailsjs/go/
frontend/package.json.md5
